.theblue{
    background-color:rgb(75, 142, 201) ;
}
.thered{
    background-color:rgb(201, 75, 75) ;
}
.theamber{
    background-color:rgb(201, 144, 75) ;
}
.thegreen{
    background-color:rgb(124, 252, 0) ;
}